<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>486080045044-im34g79249bs7gp76ms22kqejr18695m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.486080045044-im34g79249bs7gp76ms22kqejr18695m</string>
	<key>API_KEY</key>
	<string>AIzaSyBROzpjxfbEHa5C17VIJGf6Un0mYzgcG-Y</string>
	<key>GCM_SENDER_ID</key>
	<string>486080045044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.travelPlaces</string>
	<key>PROJECT_ID</key>
	<string>travel-places-20b0f</string>
	<key>STORAGE_BUCKET</key>
	<string>travel-places-20b0f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:486080045044:ios:af55e5960ac17c70e323a1</string>
</dict>
</plist>